 <% if @error %>
  <div style="background-color:red;
    color:white;
    text-align:center;
    padding:3px;">
  <%= @error %>
  </div>
<% end %>
<% if @notice %>
  <div style="background-color:green;
    color:white;
    text-align:center;
    padding:3px;">
  <%= @notice %>
  </div>
<% end %>


 <form action="/genres" method="post" id="form1">
      <p><label> Name: *</label> <input class="form-control" type="text" name="name" id="name"></p>
      <br><br>

      <p><label> Add a new movie(optional): </label> <input type="text" class="form-control" name="movie[title]" id="movie_title"></p>
      <p><label> Enter the year of the movie(optional): </label> <input type="text" class="form-control" name="movie[year]" id="movie_year"></p>

      <p><label>Choose from existing movies:(optional)</label>
      <% Movie.all.order(:title).each do |movie| %>
      <div class="checkbox"><label>
      <input id="<%= movie.title %>" type="checkbox" name="movies[]" value="<%= movie.id %>"><a href='/movies/<%= movie.slug %>' target="_blank" ><%=movie.title%></a></input></label></div>
      <% end %></p>
      <br><br>

      <p><label> Add a new TV show(optional): </label> <input type="text" class="form-control" name="show[title]" id="show_title"></p>
      <p><label> Enter the year of the TV show(optional): </label> <input type="text" class="form-control" name="show[year]" id="show_year"></p>

      <p><label>Choose from existing Tv shows:(optional)</label>
      <% Show.all.order(:title).each do |show| %>
      <div class="checkbox"><label>
      <input id="<%= show.title %>" type="checkbox" name="shows[]" value="<%= show.id %>"><a href='/shows/<%= show.slug %>' target="_blank" ><%=show.title%></a></input></label></div>
      <% end %></p>

      <p><label> Add a new Actor or Actress(optional): </label> <input type="text" class="form-control" name="actor" id="actor"></p>

      <label>Choose from existing Actors/Actresses:(optional) </label><br></br>
      <% Actor.all.order(:name).each do |actor| %>
      <div class="checkbox"><label>
      <input id="<%= actor.name %>" type="checkbox" name="actors[]" value="<%= actor.id %>"><a href='/actors/<%= actor.slug %>' target="_blank" ><%=actor.name%></a></input></label></div>
      <% end %>
 
 </form>

<button type="submit" class="btn btn-info" form="form1" value="submit">Submit</button>

