<% if @notice %>
  <div style="background-color:green;
    color:white;
    text-align:center;
    padding:3px;">
  <%= @notice %>
  </div>
<% end %>

<% if @error %>
  <div style="background-color:red;
    color:white;
    text-align:center;
    padding:3px;">
  <%= @error %>
  </div>
<% end %>


<h1>Movie List: </h1> 

<% y = 1 %>
<% @movies.order(:title).each do |x| %>
<h4><%= y.to_s  %>. <a href="/movies/<%= x.slug %>"> <%= x.title %></a> (<%= x.year %>) <em>Added by:<a href="/users/<%= x.user.username %>"><%= x.user.username %></a></em></h4>
 <% y+=1 %>
<% end %>



