
<h2>Title: <%= @movie.title %></h2><h3>(<%= @movie.year %>)</h3>



<h3>Actors/Actresses:</h3>
<% c = 1 %>
<% @movie.actors.all.each do |a| %>
<h4><%= c.to_s %>. <a href='/actors/<%= a.slug %>'> <%= a.name %> </a></h4>
<% c+=1 %>
<% end %>
<h3>Genres:</h3>
<% d = 1 %>
<% @movie.genres.all.each do |g| %>
<h4><%= d.to_s %>. <a href='/genres/<%= g.slug %>'> <%= g.name %> </a></h4>
<% d+=1 %>
<% end %>

<form action="/movies/<%=@movie.slug%>/delete" method="post" id="form1">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
    </form>
<button type="submit" form="form1" value="Delete Tweet">Delete Movie</button>
<form action="/movies/<%=@movie.slug%>/edit" method="get" id="form2">
    </form>
<button type="submit" form="form2" value="Edit Tweet">Edit Movie</button>
<form action="/movies" method="get" id="form3"></form>
<button type="submit" form="form3" value="Back to Index">Back to Index</button>


<% if @notice %>
  <div style="background-color:green;
    color:white;
    text-align:center;
    padding:3px;">
  <%= @notice %>
  </div>
<% end %>

<% if @error %>
  <div style="background-color:red;
    color:white;
    text-align:center;
    padding:3px;">
  <%= @error %>
  </div>
<% end %>