<h2>Username: <%= @user.username %></h2>

<h3><em>CONTRIBUTIONS:</em></h3><br>
<h3>Movies:</h3>
<% c = 1 %>
<% @user.movies.order(:title).each do |a| %>
<h4><%= c.to_s %>. <a href='/movies/<%= a.slug %>'> <%= a.title %> (<%= a.year %>) </a></h4>
<% c+=1 %>
<% end %>

<h3>TV Shows:</h3>
<% e = 1 %>
<% @user.shows.order(:title).each do |a| %>
<h4><%= e.to_s %>. <a href='/shows/<%= a.slug %>'> <%= a.title %> (<%= a.year %>) </a></h4>
<% e+=1 %>
<% end %>


<h3>Actors/Actresses:</h3>
<% d = 1 %>
<% @user.actors.order(:name).each do |g| %>
<h4><%= d.to_s %>. <a href='/actors/<%= g.slug %>'> <%= g.name %> </a></h4>
<% d+=1 %>
<% end %>

<h3>Genres</h3>
<% d = 1 %>
<% @user.genres.order(:name).each do |g| %>
<h4><%= d.to_s %>. <a href='/actors/<%= g.slug %>'> <%= g.name %> </a></h4>
<% d+=1 %>
<% end %>


<form action="/users" method="get" id="form3"></form>
<button type="submit" form="form3" class="btn btn-default" value="Back to Index">Back to Index</button>


